# Datasets Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [ ]:
import pandas as pd

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [ ]:
df = pd.read_csv('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

In [9]:
# Select the 'Limit' and 'Rating' columns of the first five observations
import pandas as pd
df = pd.read_csv('balance.txt',sep=' ')
limit_Rating_Column = df[['Limit','Cards']]
limit_Rating_Column.head( )

   Limit  Cards
0   3606      2
1   6645      3
2   7075      4
3   9504      3
4   4897      2

In [15]:
# Select the first five observations with 4 cards
import pandas as pd
df = pd.read_csv('balance.txt', sep=' ')
limit_Rating_Column = df[['Limit','Cards']]
first_Five_4_cards = limit_Rating_Column[limit_Rating_Column['Cards']== 4]
first_Five_4_cards.head()

    Limit  Cards
2    7075      4
5    8047      4
10   8117      4
20   2860      4
29   5611      4

In [33]:
# Sort the observations by 'Education'. Show users with a high education value first.
import pandas as pd
df = pd.read_csv('balance.txt', sep=' ')
limit_Rating_Column = df[['Limit','Cards','Education']]
high_Education_Value_first = limit_Rating_Column[(limit_Rating_Column['Cards'] == 4) & (limit_Rating_Column['Education'])]
high_Education_Value_first.sort_values(by='Education',ascending=False).head()

     Limit  Cards  Education
97    3388      4         17
190   5352      4         17
59    5294      4         17
63    2998      4         17
323  13913      4         17

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:]
```

In [ ]:
# Selects all the rows and all the colums for those rows
df.iloc[:,:]

In [ ]:
# Selects the last five rows and the first 5 columns
df.iloc[5:,5:]

In [ ]:
# selects all the rows and the first column
df.iloc[:,0]

In [ ]:
# Selects the row with index 9 and all the columns for that row
df.iloc[9,:]